body{
    border: 10px solid #f0f;
    width: 200px #989898;
}

h1{
    border: 10px solid #696969;
    width: 200px #FFFFFF;
    background-color: aliceblue;
}

#contenedor{
    justify-content:  center;
    border:10px solid #431234; 
    display: flex;
    flex-direction: row;
}

div.elemento{
    border: 10px solid #765432; 
    width: 400px;
}