body{
    background-color: #00ff00;
    font-family: "Rubik Glitch";   
    font-size: 28px;
    letter-spacing: 50px;
    word-spacing: 50px;
    text-transform: uppercase;
    color: #ff00ff; 
}   

